.cart {
  height: 70vh;
  width: 90%;
  /* border: 1px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto auto auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: scroll;
}

.sum {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  height: 10vh;
  width: 90%;
  display: flex;
  /* display: flex;
    flex-direction: column;
    align-self: flex-end; */
  margin: 5px auto auto auto;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
  font-weight: bold;
  font-size: larger;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Float four columns side by side */
.column {
  /* height: 250px; */
  width: max(30%, 200px);
  padding: 5px;
}

.rounImg {
  height: 80px;
  width: 80px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    /* margin-bottom: 20px; */
  }
}

/* Style the counter cards */
.cartcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 270px;
}

.delete,
.add,
.remove {
  font-size: x-large;
  cursor: pointer;
}
.delete:hover,
.remove:hover {
  color: red;
}
.add:hover {
  color: ForestGreen;
}
