.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%;
  height: 70px;
}

.App-logo {
  height: 10vh;
  width: 25vw;
  cursor: pointer;
}

.search-input {
  height: 10vh;
  flex: 5;
  outline: 0;
  /* padding:10px; */
  border-radius: 150px;
}

.icons {
  color: white;
  font-size: xx-large;
}

.nav > * {
  padding: 10px;
  cursor: pointer;
}

/* search */

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown-content p > * {
  font-size: smaller;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */

/* .dropbtn:focus .dropdown-content {
  display: block;
} */

/* input:focus + .dropdown-content { display: block; } */

.badge {
  text-align: center;
  font-size: small;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  color: black;
  vertical-align: top;
  margin-left: -20px;
  border: 1px solid #282c34;
}

@media only screen and (max-width: 420px) {
  .search-input {
    width: 100px;
    height: 30px;
  }
}
